{% extends "mag/base_mag_ecom.html" %}
{% load static %}
{% block title %}AUTO-PIECE{% endblock title %}
{% block page_title %}Meilleures ventes{% endblock page_title %}
{% block page %}Meilleures ventes{% endblock page %}

{% block main_content %}
    {% include "mag/partials/_periode_filter_modal.html" %}
    {% include "mag/partials/_dashboard_kpi_styles.html" %}
    {% include "mag/partials/_kpi_row_best_vente.html" %}
    
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <h2>Liste des ventes</h2>
            </div>
            <div class="body">
                <div class="mag-table-shell" x-data="magTableFilter()">
                    {% include "mag/partials/_alpine_table_toolbar.html" %}
                    <div class="table-responsive">
                        <table class="table table-hover mag-data-table">
                        <thead>
                            <tr class='text-info'>
                                <th>N°#</th>
                                <th>N°Pièce</th>
                                <th>Designation</th>
                                <th>Categorie</th>
                                <th class="text-center">Quantite</th>
                                <th class="text-center">Total</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr class='text-info'>
                                <th>N°#</th>
                                <th>N°Pièce</th>
                                <th>Designation</th>
                                <th>Categorie</th>
                                <th class="text-center">Quantite</th>
                                <th class="text-center">Total</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% if top_vente_mens %}
                                {% for d in top_vente_mens %}
                                    <tr>
                                        <th>{{forloop.counter}}</th>
                                        <th>{{d.numero_piece}}</th>
                                        <th>{{d.piece__designation}}</th>
                                        <th>{{d.piece__categorie__categorie}}</th>
                                        <th class="text-center">{{d.quantite_vendue}}</th>
                                        <th class="text-center">{{d.cout_total}}</th>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}

{% block extra_js %}
{% include "mag/partials/_periode_filter_js.html" %}
{% endblock extra_js %}

