{% load custom_filters %}

<form method='post' role="form" id="quickForm" action="{% url 'valid_panier' %}">
    {% csrf_token %}
    <div class="cwidget-scroll">
        <ul class="chat-widget m-r-5 clearfix">
            {% if items %}
                {% for item in items %}
                    <div class="card" id="article-card-{{ item.piece.pk }}" style="border-radius:18px">
                        <div class="body">
                            <div class="row">
                                <a href="javascript:void(0);" onclick="supprimerDuPanier({{ item.piece.pk }})" style="position:absolute; left:305px;top:5px"><i class="icon-trash text-danger"></i></a>
                                <div class="col-sm-5">
                                    <i class="icon-wrench" style="font-size:50px"></i>
                                </div>
                                <div class="form-group p-0" style="position:absolute;left:105px;top:19px">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <a href="javascript:void(0);" onclick="ajouterAuPanier({{ item.piece.pk }})" class="input-group-text font-6"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text font-6 text-center" id="quantite-{{ item.piece.pk }}">{{ item.quantite }}</span>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <a href="javascript:void(0);" onclick="retirerDuPanier({{ item.piece.pk }})" class="input-group-text font-6"><i class="fa fa-minus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-7 ">
                                    <h6 class="font-10">{{ item.piece.designation }}</h6>
                                    <h6 class="font-10">Prix: {{ item.prix_unitaire_applique }}</h6>
                                    <h6 class="font-10">{{ item.piece.libelle_classification }}</h6>
                                </div>
                                <div class="badge" style="position:absolute; left:225px;top:79px;border-radius: 88px 0 100px 0px">Total: {{ item.prix_total }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Aucun article dans le panier.</p>
            {% endif %}
        </ul>
    </div>
    <!-- le reste (total, remise, bouton) si tu veux aussi le mettre dans ce partial -->
</form>
